.hero-title {
  font-size: 20px;
  text-align: center;
  line-height: 1.8;
  margin-top: 100px;
  margin-bottom: 50px;
}

.hero-subtitle {
  font-size: 30px;
  text-align: center;
  line-height: 1.8;
  margin-top: 100px;
  margin-bottom: 50px;
}

.hero-img {
  display: block;
  margin: 0 auto;
  width: 230px;
  height: 300px;
  object-fit: cover;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero-title {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .hero-subtitle {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .hero-img {
    width: 300px;
    height: 400px;
  }
}


@media (min-width: 768px) {
  .hero-title {
    font-size: 100px;
    margin-top: 70px;
    margin-bottom: 40px;
  }

  .hero-subtitle {
    font-size: 50px;
    margin-top: 70px;
    margin-bottom: 40px;
  }

  .hero-img {
    width: min(634px, 90vw);
    height: auto;
  }
}