*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    color: black;
}